<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Converter</title>
    <link rel="icon" type="image/png" href="static/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1><span class="big-c">C</span>alendar <span class="big-c">C</span>onverter</h1>
        <p class="subtext">for Semmelweis University</p>
        <form id="upload-form" action="/" method="post" enctype="multipart/form-data">
            <div id="drop-area">
                <input type="file" name="file" accept=".ics" id="file-input" hidden>
                <label for="file-input" id="file-label">
                    <span>Click to browse or<br>Drag & drop your .ics file here</span>
                </label>
            </div>
            <div id="button-container">
                <button type="submit" id="convert-btn">Convert</button>
                <div id="progress-container" style="display: none;">
                    <div id="progress-bar">
                        <span id="progress-text"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <a href="https://www.buymeacoffee.com/chococo"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=chococo&button_colour=ffffff&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00" /></a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>