<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Converter</title>
    <link rel="icon" type="image/png" href="static/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1><span class="big-c">C</span>alendar <span class="big-c">C</span>onverter</h1>
        <p class="subtext">for Semmelweis University</p>
        <form id="upload-form" action="/" method="post" enctype="multipart/form-data">
            <div id="drop-area">
                <input type="file" name="file" accept=".ics" id="file-input" hidden>
                <label for="file-input" id="file-label">
                    <span>Click to browse or<br>Drag & drop your .ics file here</span>
                </label>
            </div>
            <div id="button-container">
                <button type="submit" id="convert-btn">Convert</button>
                <div id="progress-container" style="display: none;">
                    <div id="progress-bar">
                        <span id="progress-text"></span>
                    </div>
                </div>
            </div>
        </form>
        <div class="help-icon" id="help-icon">?</div>
    </div>
    <div id="help-popup" class="help-popup" style="display: none;">
        <h2>Help</h2>
        <p>How to use:</p>
        <ol>
            <li>Go to the Semmelweis University Neptun Portal and export your calendar in .ics format.<br>
                Students: <a href="https://neptunweb.semmelweis.hu/hallgato" target="_blank" rel="noopener noreferrer">https://neptunweb.semmelweis.hu/hallgato</a><br>
                Staff: <a href="https://neptunweb.semmelweis.hu/oktato" target="_blank" rel="noopener noreferrer">https://neptunweb.semmelweis.hu/oktato</a>
            </li>
            <li>Upload the .ics file and click convert.</li>
        </ol>
        <p style="font-size: 12px;">Quicksand Font License: The Quicksand font used in this project is licensed under the SIL Open Font License (OFL).</p>
        <button id="close-popup">Close</button>
    </div>
    <a href="https://www.buymeacoffee.com/chococo" target="_blank" rel="noopener noreferrer"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=chococo&button_colour=ffffff&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00" /></a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>